{% extends "teacherindex.html" %}
{% block content %}

<div class="container">
    <div class="student_viewcontainer">
            
            <h3 class="text-center">Exams</h3>


            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addExamModal">
                Add Examination
            </button>
            {% for m in messages  %}
            <h6 style="color:red">{{m}}</h6>
          {% endfor %}

            <!-- Modal -->
            <div class="modal fade" id="addExamModal" tabindex="-1" aria-labelledby="addExamModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: black !important;" id="addExamModalLabel">Add Examination</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
                        </div>
                        <form method="POST" action="{% url 'add_exam' %}">
                            {% csrf_token %}
                            <div class="modal-body" style="color: black !important;">

                                {% for field  in form %}
                                <div class="mb-3">
                                    <label for="examName" class="form-label text-dark">{{field.label}}</label>
                                    {{field}}
                                </div>
                                {% endfor %}
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped" style="color: black !important;">
                <thead>
                    <tr>
                        <th>Exam Name</th>
                        <th>Exam Date</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for exam in exams %}
                    <tr>
                        <td>{{ exam.exam_name }}</td>
                        <td>{{ exam.exam_date }}</td>
                
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <!-- Modal Trigger -->
            


    </div>
</div>
</div>
</div>
</div>

{% endblock %}