{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Meetup is a free responsive single page bootstrap template by designerdada.com">
  <meta name="author" content="Akash Bhadange">
  <title>Mark Analyse</title>

  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/dosis-font.css' %}" rel='stylesheet'  type='text/css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
      .navcontainer li{
          float: left;
          margin-top: 30px;
          margin-left: 30px;


      }
      .navcontainer a{
        font-weight: 600;
        color: white;
        padding: 20px;

      }
      .navcontainer a:hover{
        background-color: white;
        color:#016cc7 ;

      }
    </style>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".side-menu">
      <nav>
        <div class="navcontainer">
          <ul>
            <li>
              <a href="{%url 'Index' %}">Home</a>
            </li>
            <li><a href="">Contact</a></li>
            
            {% if request.user.is_authenticated %}
            <li><a href="{%url 'MarkProfile' %}">Profile</a></li>
            <li><a href="{%url 'RecommendationsStudentView' %}">Recommendations</a></li>
            <li style="color:#dd5138">{{request.user.first_name}}<a href="{%url 'SignOut' %}">Logout</a></li>

              
              {% else %}
            <li><a href="{%url 'SignIn' %}">Login</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>
      <nav class="side-menu">
        <ul>
          <li class="hidden active">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
            <a href="#home" class="page-scroll">
              <span class="menu-title">Home</span>
              <span class="dot"></span>
            </a>
          </li>
          
          <li>
            <a href="#tickets" class="page-scroll">
              <span class="menu-title">Mark Analyse</span>
              <span class="dot"></span>
            </a>
          </li>
          
        </ul>
      </nav>
      <div class="container-fluid">
        <!-- Start: Header -->
        <div class="row hero-header" id="home">
      {% block content %}

          <div class="col-md-7">
            <h2>Result Analysis</h2>
            <!-- <img src="{% static 'img/meetup-logo.png' %}" class="logo"> -->
            <h1>Calculate your Winning Chance</h1>
            <h3>Bootup Your Carrer with Application</h3>
            {% if request.user.is_authenticated %}

            <a href="#tickets" class="btn btn-lg btn-red">Analyse Your Mark <span class="ti-arrow-right"></span></a>
{% else %}
<h4>Register For Continue</h4>

<a href="{%url 'SignUp' %}" class="btn btn-lg btn-red">Register Now <span class="ti-arrow-right"></span></a>
{% endif %}

          </div>
          <div class="col-md-5 hidden-xs">
            <img src="{% static 'img/rocket.png' %}" class="rocket animated bounce">
          </div>
        </div>
        <!-- End: Header -->
      </div>
      {% if request.user.is_authenticated %}

      <!-- Start: Tickets -->
      <div class="container-fluid tickets" id="tickets">
        <div class="row me-row content-ct">
          <h2 class="row-title">Start Analysing</h2>
          <div class="col-md-4 col-sm-6 col-md-offset-2">
            <h3> Provide Accademic Marks</h3>
            <p class="price"></p>
            <p>Click on the button to enter Accademic Scores</p><br><br>
            <a href="{%url 'MarkInput' %}" class="btn btn-lg btn-red">Fill Out the Form</a>
          </div>
          <div class="col-md-4 col-sm-6">
            <h3>Attend Aptitude Test</h3>
            <p>Click on the button to attend apptitude test</p><br><br>
            <a href="{%url 'Aptitudetest' %}" class="btn btn-lg btn-red">Start Apptitude Test Now</a>
          </div>
        </div>
      </div>
      <!-- End: Tickets -->
{% endif %}
      
      <div class="container">
        <!-- Start: Desc -->
        <div class="row me-row content-ct">
          <h2 class="row-title">What we Can Do With Application ?</h2>
          <div class="col-md-4 feature">
            <span class="ti-ticket"></span>
            <h3>Analysis Your Results</h3>
            <p>It will predict your winning Chance to analys your accademic scores </p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-microphone"></span>
            <h3>Take Expert Opinions From Teachers</h3>
            <p>Take Advives from teachers with your predicted score and increase your winning Chance</p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-world"></span>
            <h3>Explore your skills around the globe!</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores tenetur </p>
          </div>
        </div>
        <!-- End: Desc -->

        
      </div>
      
      <!-- Start: Schedule -->
     
      <!-- End: Schedule -->
{% endblock %}
      <!-- Start: Footer -->
      <div class="container-fluid footer">
        
        <div class="row footer-credit">
          <div class="col-md-6 col-sm-6">
            <p>&copy; 2023, <a href="">Design.com</a> | All rights reserved.</p>
          </div>
          <div class="col-md-6 col-sm-6"> 
            <ul class="footer-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Condition</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End: Footer -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.easing.min.js' %}"></script>
      <script src="{% static 'js/scrolling-nav.js' %}"></script>
      <script src="{% static 'js/validator.js' %}"></script>

    </body>
    </html>