{% extends "index.html" %}
{% block content %}
{% for message in messages  %}
<h1 class="dispaly-3 text-dark text-center">{{message}}</h1>
{% endfor %}

<div class="container mt-4">
    <h3 class="text-center">Marksheet Profile</h3>
    <table class="table">
        <tr>
            <td><h4 style="color:rgb(64, 255, 0)">Prediction Result</h4>(Your result predicted in CGPA)
                <br>
                {% if pres >= 4 %}
                <h5 style="color:rgb(162, 239, 81)">You have Chance To Pass the Exam</h5>
                {% else %}
                <h5 style="color:red">You May Have to Fail The Exam Please Incress Your Study Time</h5>
                {% endif %}
                    
            
            </td>
            <th><h3 style="color:red">{{data.prediction_result}} CGPA</h3></th>
            <td><a href="{%url 'PredictScore' %}" class="btn btn-danger">Predict Score</a></td>
        </tr>
        <tr>
            <td><h4>Aptitude Test Mark</h4></td>
            <th><h3>{{data.iq_marks}}</h3></th>
        </tr>
        <tr>
            <td>Name</td>
            <th>{{data.name}}</th>
        </tr>
        <tr>
            <td>Gender</td>
            <th>{{data.gender}}</th>
        </tr>
        <tr>
            <td>Study Stream</td>
            <th>{{data.btech_branch}}</th>
        </tr>
        
        <tr>
            <td>Physics Mark In 10th</td>
            <th>{{pygrade}}</th>
        </tr>
        <tr>
            <td>Chemistry Mark In 10th</td>
            <th>{{chgrade}}</th>
        </tr>
        <tr>
            <td>Maths Mark In 10th</td>
            <th>{{magrade}}</th>
        </tr>
        <tr>
            <td>Physics Mark In 12th</td>
            <th>{{data.physics_12}}/100</th>
        </tr>
        <tr>
            <td>Chemistry Mark In 12th</td>
            <th>{{data.chemistry_12}}/100</th>
        </tr>
        <tr>
            <td>Maths Mark In 12th</td>
            <th>{{data.maths_12}}/100</th>
        </tr>
        <tr>
            <td>Diploma Sem1 Mark</td>
            <th>{{data.btech_sem1}}</th>
        </tr>
        <tr>
            <td>Diploma Sem 2 Mark</td>
            <th>{{data.btech_sem2}}</th>
        </tr>
        <tr>
            <td>Diploma Sem3 Mark</td>
            <th>{{data.btech_sem3}}</th>
        </tr>
        <tr>
            <td>Diploma Sem4 Mark</td>
            <th>{{data.btech_sem4}}</th>
        </tr>
        <tr>
            <td>Total Time For Study</td>
            <th>{{data.study_time}}</th>
        </tr>
        
    </table>
</div>
</div>
  
{% endblock%}